#!/bin/bash

# Show the weather status notification after Hexarchy has started.
# To put it into use, remove .sample from this file name.

weather=$(hexarchy-weather-status 2>/dev/null) || true

if [[ -n $weather && $weather != "Weather unavailable" ]]; then
  hexarchy-notification-send -u low "$weather"
fi
