[Desktop Entry]
Version=1.0
Name=Discord
Exec=hexarchy-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=hexarchy-discord
StartupNotify=true
