[Desktop Entry]
Type=Application
Name=Hexcalc
GenericName=Calculator
Comment=Hexarchy's own dead-simple calculator
Exec=hexcalc
Icon=hexcalc
Terminal=false
Categories=Utility;Calculator;
StartupNotify=true
StartupWMClass=org.hexarchy.hexcalc
